---
interface Props {
  contributors: string[];
}

const { contributors } = Astro.props;
---

<section>
  <h2>Featuring</h2>
  <div class="featuring">
    {contributors.map((contributor) => <span>{contributor}</span>)}
    <a
      href="https://github.com/evadecker/hypertext.tv"
      target="_blank"
      rel="noopener noreferrer">&hellip;and you?</a
    >
  </div>
</section>

<style>
  .featuring {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24ch, 1fr));
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    line-height: 1;
    text-wrap: nowrap;
  }
</style>
