---
import type { ActiveProgram } from "@types";
import Controls from "./Controls.astro";
import Screen from "./Screen.astro";

interface Props {
  channelId: string;
  channelName: string;
  activeProgram?: ActiveProgram | null;
}

const { activeProgram, channelId, channelName } = Astro.props;
---

<main class="television">
  <Screen channelId={channelId} channelName={channelName}>
    <slot />
  </Screen>
  <Controls activeProgram={activeProgram} channelId={channelId} />
</main>

<style>
  .television {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: #000000;
  }
</style>
