---
import Television from "@components/Television.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <Television
    activeProgram={{
      program: {
        title: "Test Your Website",
      },
    }}
    channelId="TEST"
    channelName="Testing"
  >
    <div class="test-form">
      <form id="url-form">
        <p>Test if your site can be viewed on Hypertext TV.</p>
        <input
          aria-label="URL"
          type="url"
          name="url"
          required
          value="https://"
        />
        <button type="submit">Test Site Preview</button>
      </form>
    </div>
  </Television>
</Layout>

<script>
  import * as Fathom from "fathom-client";
  document.getElementById("url-form")?.addEventListener("submit", (e) => {
    e.preventDefault();

    const form = e.target as HTMLFormElement;
    const urlInput = form.querySelector(
      'input[name="url"]',
    ) as HTMLInputElement;
    const url = urlInput.value.trim();

    // Strip protocol (http:// or https://) if present
    const urlWithoutProtocol = url.replace(/^https?:\/\//, "");

    Fathom.trackEvent("test preview: submit form");

    // Navigate to the new URL
    window.location.href = `/test/${urlWithoutProtocol}`;
  });
</script>

<style>
  .test-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    color: white;
    gap: 1rem;
    font-size: clamp(16px, 10vw, 24px);
    font-family: "Arial", sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: clamp(200px, 80%, 500px);
  }

  p {
    text-wrap: pretty;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  input {
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 0.5rem 0.9rem;
    font-weight: 400;
    background: white;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }

  button:hover {
    background-color: #111111;
  }
</style>
